.notif-icon {
  width: 25px;
  height: 25px; 
  display: flex;
  justify-content: flex-end;
}
.notif-count {
  height: 15px;
  width: 15px;
  max-width: 15px;
  min-height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  /* top: 10px; */
  /* left: 20px; */
  font-size: 10px;
  border-radius: 50%;
  background-color: blue;
  font-weight: 400;
  color: white;
}
.notif-container {
  /* display: none; */
  background-color: white;
  border-radius: 6%;
  width: 400px;
  /* height: fit-content; */
  box-shadow: 0px 0px 15px 0px #00000026;
  position: absolute;
  /* right: 200px; */
  /* top: 50px; */
  z-index: 2;
  padding: 8px 5px;
  /* display: none; */
}
.notif-header {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}
.notif-header-option:hover {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.notif-items {
  /* display: flex; */
  gap: 10px;
  /* padding: 4px 8px; */
  /* margin: 16px; */
  line-height: 10px;
  border-bottom: 1px solid #c4c4c4;
}
.notif-card {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
  padding: 5px 16px;
  /* background-color:tan; */
}
.notif-options {
  
}
.notif-content {
  display: flex;
  align-items: center;
  gap: 10px;
  /* background-color: turquoise; */
}
.notif-image > img {
  border-radius: 20%;
  height: 40px;
}
.notif-text {
  font-size: 14px;
  width: 280px;
}
.notif-time {
  font-size: 12px;
}
.notif__title {
  display: flex;
  justify-content: space-between;
}
.text__grey, 
span {
  color: #8A8A8A;
  font-size: 10px;
}

@media (max-width: 600px) {
  .notif-con {
    border-radius: 0;
    width: 100vw;
    box-shadow: none;
    position: relative;
    right: 0;
  }
  .notif-item {
    display: flex;
    gap: 10px;
    padding: 4px 8px;
    margin: 16px;
    line-height: 15px;
  }
}