h3 {
  font-weight: 400;
}

.button {
  width: 100%;
  height: 45px;
  border-radius: 16px;
  font-size: 14px;
  cursor: pointer;
  padding: 8px 0;
}
.btn__purple {
  color: white;
  background-color: #7126B5;
  border: none;
}

.btn__white {
  color: #151515;
  background-color: white;
  border: 1px solid #7126B5;
}
.btn__purple:hover {
  background-color: rgba(113, 38, 181, 0.6);
  transition: 0.7s;
}
.btn__purple:active {
  background-color: #8A8A8A;
}
.btn__white:hover {
  border: 2px solid rgba(113, 38, 181, 0.6);
  color: #7126B5;
}
.btn__white:active {
  background-color: #8A8A8A;
}

