.container__left {
  width: 50%;
  height: 100%;
  position: fixed;
  left: 0;
}

.container__right {
  width: 50%;
  height: 100vh;
  position: fixed;
  right: 0;
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: linear-gradient(360deg, #A06ECE 15%, rgba(160, 110, 206, 0) 100%), url('../images/masuk-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.6;
}

.brand {
  color: white;
  margin-left: 80px;
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 40px;
}

.masuk {
  width: 452px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.container__right .back {
  display: none;
}

.form {
  width: 100%;
}

.form__label {
  font-size: 12px;
  margin-bottom: 4px;
}

.form__input {
  background-color: white;
  width: 100%;
  height: 48px;
  text-indent: 20px;
  border: 1px solid #D0D0D0;
  border-radius: 16px;
  margin-bottom: 16px;
}

.pass__container {
  position: relative;
  padding: 0;
  margin: 0;
}

.pass__eye {
  background-color: transparent;
  padding: 14px 16px;
  border-radius: 0 16px 16px 0;
  position: absolute;
  border: none;
  top: 2px;
  right: -4px;
  cursor: pointer;
}

.btn__dark {
  color: white;
  background-color: #7126B5;
  width: 100%;
  height: 48px;
  padding: 12px 24px;
  border: none;
  border-radius: 16px;
  font-size: 14px;
  margin-top: 24px;
}

.btn__dark:hover {
  cursor: pointer;
  background-color: rgba(113, 38, 181, 0.6);
}

.masuk__text {
  text-align: center;
  font-size: 14px;
}

.masuk__link {
  color : #7126B5;
  margin-left: 8px;
  font-size: 14px;
}

.masuk__link:hover {
  cursor: pointer;
}

@media (max-width: 930px) {
  .masuk {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .container__left {
    display: none;
  }
  .container__right {
    width: 100%;
    position: absolute;
  }
  .masuk {
    width: 100%;
    height: 83vmax;
    padding: 0 16px;
    margin-top: 38px;
    top: 0;
    transform: translate(-50%, 0%);
  }
  .form {
    width: 100%;
    padding: 0;
  }
  .back {
    display: inline;
    background-color: transparent;
    border: none;
    margin: 32px 16px 0;
    width: 24px;
    height: 24px;
  }
  .masuk__text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}